<%= form_for @user do |f| %>
<p>
  <%= f.label :email %><br>
  <%= f.email_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
</p>

<p>
  <%= f.label :password %><br>
  <%= f.password_field :password, :required => true %>
</p>

<p>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation, :required => true %>
</p>

<p>
  <%= f.label :locale %><br>
  <%= f.select :locale, I18n.available_locales, selected: 'en' %>
</p>

<div class="actions">
  <%= f.submit t("user.create"), class: 'btn btn-primary' %>
</div>

<% end %>

