<%= form_for @user do |f| %>
<p>
  <%= f.label :email %><br>
  <%= f.email_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
</p>

<p>
  <%= f.label :password %><br>
  <%= f.password_field :password, :required => true %>
</p>

<p>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation, :required => true %>
</p>


<p>
  <%= f.label :current_deck_id %><br>
  <%= f.select_tag :current_deck_id, options_from_collection_for_select(current_user.decks, "current_deck_id", "title")%>
</p>


<p>
  <%= f.submit %>
</p>

<% end %>
