<section id="container">
  <header class="clearfix">
    <h1>FlashCards</h1>

  </header>

  <section>
    <p style="font-size: 22px;">
      Карточки для запоминания иностранных слов
    </p>
  </section>
</section>

<% if flash[:card_true] %>
 <p class="notice">Правильно!</p>
<% end %>

<% if flash[:card_false] %>
  <p class="error">Ошибка!</p>
<% end %>

<% if flash[:just_login] %>
    <p class="notice">Авторизация успешна!</p>
<% end %>

<% if flash[:login_failed] %>
    <p class="error">Ошибка авторизации!</p>
<% end %>

<% if @card.present? %>

  <%= form_tag home_path do %>
    <%= text_field_tag :user_variant%>
    <%= hidden_field_tag 'card_id', @card.id %>
    <%= image_tag @card.avatar.url(:medium) %>
    <div class="actions">
    <button>Проверить!</button>
    </div>
    <table>
      <tr>
        <th>Original Text</th>
        <th>Translated Text</th>
        <th>Level Text</th>
        <th>Fail Counter</th>
        <th>Date Review</th>
      </tr>
      <tr>
        <td><%= @card.original_text %></td>
        <td><%= @card.translated_text %></td>
        <td><%= @card.level %></td>
        <td><%= @card.fail_counter %></td>
        <td><%= @card.review_date %></td>
      </tr>
    </table>
  <% end %>
<%  else %>
  <p>Карт для проверки нет</p>
<% end %>
