<section id="container">
  <header class="clearfix">
    <h1><%= t("main.h1")%></h1>

  </header>

  <section>
    <p style="font-size: 22px;">
      <%= t("main.content")%>
    </p>
  </section>
</section>

<% if flash[:card_true] %>
    <p class="notice"><%= t("card.ok")%></p>
    <p><%= t("card.user_version")%> <%= flash[:card_true] %></p>
<% end %>

<% if flash[:card_false] %>
    <p class="error"><%= t("card.error")%></p>
    <p><%= flash[:card_false] %></p>
<% end %>

<% if flash[:card_misprint] %>
    <p class="error"><%= t("card.misprint")%></p>
    <p><%= flash[:card_misprint] %></p>
<% end %>

<% if flash[:just_login] %>
    <p class="notice"><%= t("login.success")%></p>
<% end %>

<% if flash[:login_failed] %>
    <p class="error"><%= t("login.failed")%></p>
<% end %>

<% if @card.present? %>

  <%= form_tag home_path do %>
    <%= text_field_tag :user_variant%>
    <%= hidden_field_tag 'card_id', @card.id %>
    <%= image_tag @card.avatar.url(:thumb) %>
  <div class="actions">
    <button><%= t("button.check")%></button>
  </div>
    <table>
      <tr>
        <th><%= t("card.original")%></th>
      </tr>

      <tr>
        <td><%= @card.original_text %></td>
      </tr>
    </table>
  <% end %>
<%  else %>
  <p><%= t("message.nocard")%></p>
<% end %>
