<section id="container">
  <header class="clearfix">
    <h1>FlashCards</h1>

  </header>

  <section>
    <p style="font-size: 22px;">
      Карточки для запоминания иностранных слов
    </p>
  </section>
</section>

<% if flash[:card_true] %>
<p class="notice">Правильно!</p>
<p>Ваш вариант: <%= flash[:card_true] %></p>
<% end %>

<% if flash[:card_false] %>
  <p class="error">Ошибка!</p>
<p>Ваш вариант: <%= flash[:card_false] %></p>
<% end %>

<% if flash[:card_misprint] %>
  <p class="error">Вы опечатались!</p>
<p>Ваш вариант: <%= flash[:card_misprint] %></p>
<% end %>

<% if flash[:just_login] %>
    <p class="notice">Авторизация успешна!</p>
<% end %>

<% if flash[:login_failed] %>
    <p class="error">Ошибка авторизации!</p>
<% end %>

<% if @card.present? %>

  <%= form_tag home_path do %>
    <%= text_field_tag :user_variant%>
    <%= hidden_field_tag 'card_id', @card.id %>
    <%= image_tag @card.avatar.url(:thumb) %>
  <div class="actions">
    <button>Проверить!</button>
  </div>
    <table>
      <tr>
        <th>Original Text</th>
      </tr>
      <tr>
        <td><%= @card.original_text %></td>
      </tr>
    </table>
  <% end %>
<%  else %>
  <p>Карт для проверки нет</p>
<% end %>
